
#mainheading{
    text-align: center;
    font-size: 30px;
    color: black;
    margin: 20px;
}
label{
    font-size: 20px;
    color: black;
    margin: 10px;
    
}
input{
    font-size: 20px;
    color: black;
    margin: 10px;
}
.product-group{
    border: 1px solid black;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
button{
    font-size: 20px;
    color: black;
    margin: 10px;
}

h2{
    text-align: center;
    font-size: 30px;
    color: black;
    margin: 20px;
}
table{
    border: 1px solid black;
    margin: auto;
    margin-top: 50px;
    width: 80%;
    border-collapse: collapse;
}
thead{
    border: 1px solid black;
}
tbody{
    border: 1px solid black;
}
td{
    border: 1px solid black;
    text-align: center;
    padding: 10px;

}
th{
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

.deletebtn{
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
#addtocart{
    background-color: green;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}